h1 
	{
	font-size: 40px;
	font-family: arial;
	text-decoration: underline;
	font-style: italic;
	margin-bottom: 90px;
	margin-top: 90px;
	}
	
	
body 
	{
	width: 960px;
	margin-right: auto;
	margin-left: auto;
	}


h2 
	{
	font-size: 25px;
	font-family: arial;
	text-decoration: underline;
	font-weight:bold;
	}
	
	
p 
	{
	font-size: 15px;
	font-family: arial;
	font-weight:bold;
	margin-bottom: 40px;
	}
	
	
footer 
	{
	width: 960px;
	font-family: arial;
	border-top : 1px solid #000;
	font-size: 12px;
	float: right;
	text-align : right;
	margin-bottom: 40px;
	margin-top: 40px;
	}
	
	
nav 
	{
	font-size: 15px;
	font-family: arial;
	float: right;
	}

	
#header 
	{
	font-size: 20px;
	font-family: arial;
	}

	
a:hover 
	{
	font-weight: bold;
	}

	
.en-cours 
	{
	font-weight: bold;
	}

a:visited 
	{
	color: black;
	}

a:link
	{ 
	text-decoration:none; 
	}